# python
**.pyc
*.egg-info
.venv
src/zakhar_mind/scripts/dist
src/zakhar_mind/scripts/poetry.lock

# aliveos deps
src/aliveos_app
src/aliveos_demo
src/aliveos_hw
src/aliveos_launch
src/aliveos_middle
src/aliveos_msgs
src/aliveos_py

# catkin ws files
build
devel
.catkin_tools
src/CMakeLists.txt

# logs
logs

# ide files
.vscode/**
!.vscode/c_cpp_properties.json
