<launch>

    <include file="$(dirname)/low_level.launch" />
    <node name="ego_small_researcher" pkg="zakhar_mind" type="ego_small_researcher.py"/>
    <node name="instinct_bird_panic" pkg="zakhar_mind" type="instinct_bird_panic.py"/>
    <node name="reflex_avoid_close_objects" pkg="zakhar_mind" type="reflex_avoid_close_objects.py"/>

</launch>